.footer
{
	height: auto;
	background-color: $main-color;
	border-top: 10px solid $navbar-default-border;
	padding: 32px 0;
	color: #FFF;
	text-align: center;

	.row
	{
		>div
		{
			margin-bottom: 30px;

			@media (min-width: $screen-sm-min){
				margin-bottom: 0px;
			}
		}
	}

	img
	{
		max-height: 136px;
		margin: 0 auto;
	}

	h2
	{
		padding: 0;
		margin: 0 0 6px;
		font-size: 18px;
		text-transform: uppercase;
	}

	.line
	{
		height: 2px;
		background-color: $nav-hover-color;
		width: 40px;
		display: block;
		margin: 0 auto 6px;
	}

	.midia
	{
		.social
		{
			font-size: 24px;
			margin: 0 8px;
		}
	}

	a
	{
		color: #FFF;
		transition: .3s all ease;

		&:hover
		{
			color: $nav-hover-color;
			text-decoration: none;
		}
	}
}